<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AeC.Teste</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" asp-controller="Users" asp-action="Index">
                AeC.Teste
            </a>

            <form asp-controller="Account"
                  asp-action="Logout"
                  method="post"
                  class="ms-auto">

                @Html.AntiForgeryToken()

                <button class="btn btn-outline-light btn-sm">
                    Sair
                </button>

            </form>

        </div>
    </nav>

    <main class="container mt-4">
        @RenderBody()
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>